<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</head>

<body class="container">
    <h1 style="text-align: center;">Admin Login</h1>
    <form action="/admin/login" method="post">

        <div class="input-group mb-5 mt-3">
            <span for="password" class="input-group-text" id="password_label">Enter Admin Password: </span>
            <input type="password" class="form-control" id="password" name="branch_password" placeholder="Password"
                aria-describedby="password_label">
        </div>
        <div style="text-align: center;">

            <button class="btn btn-success">Submit</button>
        </div>
    </form>

</body>

</html>